/* Кнопка наверх */

.scrollToTopBtn {
	width: 58px;
	height: 58px;
	position: fixed;
	bottom: 7%;
	right: 3%;
	text-decoration: none;
	transform: translateY(100px);
	transition: all 0.5s ease-in;
	opacity: 0;
	background-image: url('../images/icon/btnUp.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(5, 5, 5, 0.808);
	border: none;
	border-radius: 50%;
	line-height: 3.5;
	z-index: 100;
}

.scrollToTopBtn:active,
.scrollToTopBtn:focus {
	outline: none;
}

.scrollToTopBtn:hover {
	background-color: rgba(5, 5, 5, 0.61);
}


.showBtn {
	opacity: 1;
	transform: translateY(0);
}
