.container
    max-width: 940px
    margin: 0 auto
    width: 100%
    z-index: 99
    //background-color: #3540db

@media (max-width: 991px)
    .container
        padding: 0 15px 0 15px

@media ( max-width: 768px )
    .header
        &-logo
            align-items: flex-start
        &-phone
            flex-direction: column
            align-items: center
    .phone
        align-items: flex-start
        &_top
            margin-top: 6px

        &__button
            margin: 15px 0 0 0
    .goods
        justify-content: center
    .good-card
        flex-basis: 45%
        &_margin
            margin: 10px 10px

@media ( max-width: 476px )
    .menu-list
        flex-direction: column
        align-items: flex-start
        &_padding
            padding: 0

        &__item
            padding: 5px 0 0 0

    .hero-content__title
        font-size: 24px

    .hero-more
        flex-direction: column
        &__text
            margin: 24px 0 0 0

    .phone
        &_top
            margin-top: 0
        &__button
            margin: 0 0 0 12px

    .header
        &-logo
            flex-direction: column

        &-phone
            flex-direction: row
            &_top
                margin-top: 15px
        &-menu
            &_top
                margin-top: 15px
    .good-card
        flex-basis: 60%

@media ( max-width: 353px )
    .phone__button
        padding: 8px