
*, *:before, *:after
    box-sizing: border-box

body
    background: #ffffff
    font-size: 16px
    font-family: $font_pro
    margin: 0
img
    max-width: 100%

.button_style
    display: flex
    justify-content: center
    font-family: $font_medium
    font-size: 12px
    color: #0d0d0d
    cursor: pointer
    border: 0
    width: 100%
    background-color: #ffcc00
    align-items: center
    &:focus
        outline: none
    &:hover
        opacity: 0.8
        transition-timing-function: ease
        transition-duration: 0.3s